{% extends 'base.html' %}

{% block title %}| Search Results{% endblock %}

{% block content %}
{% load humanize %}

<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET" action="{% url 'search' %}">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="model">
                                    <option disabled="disabled" {% if not model %}selected="selected"{% endif %}>Select Model</option>
                                    {% for model_option in model_search %}
                                        <option value="{{ model_option }}" {% if model_option == model %}selected="selected"{% endif %}>{{ model_option }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="city">
                                    <option disabled="disabled" {% if not city %}selected="selected"{% endif %}>Select Location</option>
                                    {% for city_option in city_search %}
                                        <option value="{{ city_option }}" {% if city_option == city %}selected="selected"{% endif %}>{{ city_option }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="year">
                                    <option disabled="disabled" {% if not year %}selected="selected"{% endif %}>Select Year</option>
                                    {% for year_option in year_search %}
                                        <option value="{{ year_option }}" {% if year_option == year %}selected="selected"{% endif %}>{{ year_option }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="body_style">
                                    <option disabled="disabled" {% if not body_style %}selected="selected"{% endif %}>Select Type Of Car</option>
                                    {% for body_option in body_search %}
                                        <option value="{{ body_option }}" {% if body_option == body_style %}selected="selected"{% endif %}>{{ body_option }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Found car(s) start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Cars</span></h1>
            <p>
                We have the best cars for you. You can choose your dream car from here.
            </p>
        </div>
        <div class="row">
            {% if cars %}
                {% for car in cars %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="{% url 'car_detail' car.id %}" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>${{ car.price|intcomma }}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{ car.car_photo.url }}" style="min-height:330px; max-height:330px;" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                {% if car.car_photo_1 %}
                                                    <a href="{{ car.car_photo_1.url }}" class="overlap-btn">
                                                        <i class="fa fa-expand"></i>
                                                        <img class="hidden" src="{{ car.car_photo_1.url }}" style="min-height:90px; max-height:90px;" alt="car">
                                                    </a>
                                                {% endif %}
                                                {% if car.car_photo_2 %}
                                                    <a href="{{ car.car_photo_2.url }}" class="overlap-btn">
                                                        <i class="fa fa-expand"></i>
                                                        <img class="hidden" src="{{ car.car_photo_2.url }}" style="min-height:90px; max-height:90px;" alt="car">
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <a href="{% url 'car_detail' car.id %}" class="overlap-btn">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'car_detail' car.id %}">{{ car.model }}</a>
                                </h1>
                                <div class="location">
                                    <a href="#"><i class="fa fa-map-marker"></i> {{ car.city }}</a>
                                </div>
                                <ul class="features">
                                    <li><span>{{ car.year }}</span> Year</li>
                                    <li><span>{{ car.mileage|intcomma }}</span> km mileage</li>
                                    <li><span>{{ car.engine_capacity }}</span> CC Engine</li>
                                </ul>
                                <div class="timing">
                                    <div class="timing-inner">
                                        <div class="timing-m">
                                            <h2>${{ car.price|intcomma }}</h2>Per Month
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Pagination -->
                {% if cars.has_other_pages %}
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-box clearfix">
                            <ul class="pagination">
                                {% if cars.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ cars.previous_page_number }}">Previous</a></li>
                                {% endif %}
                                {% for i in cars.paginator.page_range %}
                                    {% if cars.number == i %}
                                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if cars.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ cars.next_page_number }}">Next</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-lg-12 col-md-12">
                    <div class="alert alert-warning">
                        No cars found matching the search criteria.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Found car(s) end -->
{% endblock %}
